* {
    margin: 0;
    padding: 0;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
}

h1 {
    font-weight: bold;
    font-size: 50px;
    line-height: 57px;
    text-shadow: 0 4px 4px #00000040;
    text-align: center;
    margin: 69px 0 93px 0;
}

div {
    text-align: center;
    margin-bottom: 69px;
}

img {
    margin: 10px;
}

h2 {
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    line-height: 41px;
    margin-bottom: 49px;
}

h3 {
    font-size: 28px;
    font-weight: bold;
    line-height: 32px;
    margin-bottom: 17px;
}

article {
    font-size: 18px;
    line-height: 21px;
    text-align: justify;
    margin-bottom: 49px;
}

ul {
    font-style: italic;
    font-size: 18px;
    line-height: 21px;
    padding-left: 15px;
    margin-bottom: 84px;
}

li {
    margin-bottom: 10px;
}

form {
    max-width: 561px;
    margin: 0 auto 105px;
    text-align: center;
}

form h2 {
    margin-bottom: 0;
}

input {
    border: 1px solid black;
    box-sizing: border-box;
    border-radius: 20px;
    padding: 22px 25px 24px 25px;
    font-size: 30px;
    color: black;
    width: 429px;
    margin-top: 32px;
}

input::placeholder {
    color: #8e8e8e
}

button {
    background: #008968;
    border-radius: 20px;
    font-size: 30px;
    color: white;
    text-align: center;
    padding: 23px;
    width: 429px;
    margin-top: 32px;
    border: 0;
}
